<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoLotDALEntities" connectionString="data source=LAPTOP-9PLMAEPE;initial catalog=AutoLotDAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>